* {
  margin: 0;
  padding: 0;
}
html,
body {
  background-color: #000;
  line-height: 1.5;
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  padding-top: 27px;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.center {
  text-align: center;
}
.very {
  padding: 0;
  margin: 0;
}
#mainbody {
  background: #f8f8f8;
}
#mainbody .noise {
  background: url("./white-noise.png");
}
